@{
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}
<form method="post">  
    <div class="wrapper2 fadeInDown">
        <div id="formContent">
            <input name="email" type="email" placeholder="Địa chỉ Email" required />
            <input type="submit" />
        </div>
    </div>
    
</form>
